<div class="bannerr">
  <div class="container">
    <h3>At the age of 18 I started traveling and  backpacking by myself   <br>and adventure who has bringed me to 7 countries,  <br> meet a lot of people and enrolling the coding schol <strong>LeWagon Milano</strong></h3>

  </div>
</div>

<!-- ADDING CARDS -->

<div class="card-group">
  <div class="card">

<article class="card card--1">
  <div class="card__info-hover">


  </div>
  <div class="card__img"></div>

     <div class="card__img--hover"></div>
   </a>
  <div class="card__info">
    <span class="card__category">Fighter </span>
    <h3 class="card__title">Martial arts lover!</h3>

  </div>
</article>



  </div>


<article class="card card--2">
  <div class="card__info-hover">


  </div>
  <div class="card__img"></div>

     <div class="card__img--hover"></div>
   </a>
  <div class="card__info">
    <span class="card__category"> Travel</span>
    <h3 class="card__title">Passionate About traveling and meeting new people</h3>

  </div>
</article>

<article class="card card--3">
  <div class="card__info-hover">


  </div>
  <div class="card__img"></div>

     <div class="card__img--hover"></div>
   </a>
  <div class="card__info">
    <span class="card__category">Coding </span>
    <h3 class="card__title">Passionate about software</h3>

  </div>
</article>





  </div>
