  <div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fcodeweekeu.s3.amazonaws.com%2Fevent_picture%2Fwagon-officiel-logo_3d0aca4b-fa21-4fa1-a9ef-ef32286f82ad.png&f=1)"></div>
      <ul class="details">

        <li class="date">March 2018</li>
        <li class="tags">
          <ul>
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">RUBY</a></li>
            <li><a href="#">RAILS</a></li>
            <li><a href="#">JS</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>Learning to Code at LeWagon Milan</h1>
      <h2>Lewagon Coding School</h2>
      <p>9-week intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES2015, SQL, git, GitHub, Heroku and Ruby on Rails. Designed, Implemented and Shipped to production a clone of AirBnB and a Rails prototype.</p>
      <p class="read-more">
        <a href="https://www.lewagon.com/">Read More</a>
      </p>
    </div>
  </div>
  <div class="blog-card alt">
    <div class="meta">
      <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1503676260728-1c00da094a0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
      <ul class="details">

        <li class="date">September. 15, 2016-2018</li>
        <li class="tags">
          <ul>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#">High School Degree</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>Degree</h1>
      <h2>I.E.S Ramon & Cajal</h2>
      <p>High School Degree in Social-sciences.</p>

    </div>
  </div>
