
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1555020653-d7c1a90a3951?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80);">
  <div class="container">
    <h1>Juan Fco Paredes</h1>
    <p>Junior software enginner with experience with: <strong>Html, Scss, Ruby, Rails, Js, Postgresql, Boostrap, AJAX, Git</strong>.</p>

    <%= link_to "Work", info_work_path, class: "btn btn-success" %>
  </div>
</div>






<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1549201440-396bc7f1e794?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=322&q=80" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Foodie,RoR app</h5>
      <p class="card-text">The tinder of the food, final project of lewagon Milan #131, Rails at the backend, Ruby, JS
        you can have a look at <%= link_to "Foddie",  "https://github.com/danielppolo/foodie-archive" %>.</p>

    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1549201440-396bc7f1e794?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=322&q=80" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Try to Code, RoR app</h5>
      <p class="card-text">First app created after the lewagon bootcamp, ruby, rails, js, google maps API, devise, AJAX, postgresql, you can have a look here:<%= link_to "Try to Code", "https://github.com/Nerfi/Try_to_code4" %> </p>

    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1549201440-396bc7f1e794?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=322&q=80 alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">NerfShop,RoR app</h5>
      <p class="card-text">App created with js, rails, ruby, stripe, devise, AJAX, postgresql, you can have a look here: <%= link_to "Nerfshop", "https://nerfshop.herokuapp.com/" %> </p>

    </div>
  </div>
</div>
